<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=i, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <form action="/greet" method='POST'>
        <input type="text" name="person2">
        <button type="submit">Submit POST</button>
    </form>

    <form action="/greet">
        <input type="text" name="person">
        <button type="submit">Submit GET</button>
    </form>

</body>

</html>